#database postgres

POSTGRES_PORT = 5432
POSTGRES_HOST = postgres
POSTGRES_DB = launchkit
POSTGRES_USER = launchkit
POSTGRES_PASSWORD = postgres-password

#redis

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_ADDR=redis:6379

#jwt

ACCESS_SECRET = 
REFRESH_SECRET = 